<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Educational social network</title>
        <link type="text/css" href="{{ asset('bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
        <link type="text/css" href="{{asset('bootstrap/css/bootstrap-responsive.min.css')}}" rel="stylesheet">
        <link type="text/css" href="{{asset('css/theme.css')}}" rel="stylesheet">
        <link type="text/css" href="{{asset('images/icons/css/font-awesome.css')}}" rel="stylesheet">
        <link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600'
            rel='stylesheet'>
    </head>
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
                        <i class="icon-reorder shaded"></i></a><a class="brand" href="index.html">Eds network </a>
                    <div class="nav-collapse collapse navbar-inverse-collapse">
                        <form class="navbar-search pull-left input-append" action="#">
                        <input type="text" class="span3">
                        <button class="btn" type="button">
                            <i class="icon-search"></i>
                        </button>
                        </form>

                        <ul class="nav pull-right">
                            <li class="active"><a href="#"><i class="icon-envelope"></i></a></li>

                            <li><a href="#">Acceuil </a></li>
                            <li><a href="#">Contact </a></li>
                            <li class="nav-user dropdown"><a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="{{ asset('uploads/' ~ user.photo) }}" class="nav-avatar" />
                                <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a><strong>{{ user.prenom ~" "~ user.nom }} </strong></a></li>
                                    <li><a href="{{ path('admin_one', {'id': user.id }) }}">Modifier profil</a></li>
                                    <li><a href="#">Parametres</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">Se deconnecter</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /.nav-collapse -->
                </div>
            </div>
            <!-- /navbar-inner -->
        </div>
        <!-- /navbar -->
        <div class="wrapper">
            <div class="container">
                <div class="row">
                    <div class="span3">
                        <div class="sidebar">
                             <ul class="widget widget-menu unstyled">
                                <li class="active"><a href="{{ path('index', {'id': user.id }) }}">Menu
                                </a></li>
                                <ul class="widget widget-menu unstyled">
                                    <li><a class="collapsed" data-toggle="collapse" href="#togglePages">
                                        Communautés </a>
                                            <ul id="togglePages" class="collapse unstyled">
                                                {% for g in user.groupes %}
                                                    <li><a href="">Communate publique </a></li>
                                                    <li><a href="{{ path('groupe_one', {'id': user.id,'id1': g.id }) }}"></i>{{g.titre}}</a></li>
                                                {% endfor %}
                                            </ul>
                                    </li>
                                </ul>
                                </li>
                                <li><a href="{{ path('publication_liste', {'id': user.id }) }}">Publications 
                                     </a></li>
                                <li><a href="{{ path('message', {'id': user.id }) }}">Messagerie 
                                    </a></li>
                               <li><a href="{{ path('admin_etudiants', {'id': user.id }) }}">Etudiants 
                                     </a></li>
                            </ul>
                            <!--/.widget-nav-->
                            
                            
                            
                            <!--/.widget-nav-->
                            
                        </div>
                        <!--/.sidebar-->
                    </div>
                    <!--/.span3-->
                    <div class="span9">
                        <div class="content">
    
                            <div class="module">
                                <div class="module-head">
                                    <h3>Commentaire</h3>
                                </div>
                                <div class="module-body">
                                     <div class="stream-composer media">
                                       
                                            <div class="media stream">
                                                <a href="#" class="media-avatar medium pull-left">
                                                    <img src="{{ asset('uploads/' ~ publication.user.photo) }}">
                                                </a>
                                                <div class="media-body">

                                                    <div class="stream-headline">
                                                       <h6 class="stream-author">
                                                                {{ publication.user.nom }} {{ publication.user.prenom }} 
                                                            </h6>
                                                            <p class="stream-author">
                                                                {{ publication.titre }}
                                                            </p>
                                                            <p class="stream-author">
                                                                {{ publication.createAt|date('d/m/Y ' ~ 'à' ~ ' H:i') }}
                                                            </p>
                                                            </br>
                                                            <div class="stream-text">
                                                                 {{ publication.contenu }} 
                                                            </div>
                                                            </br>
                                                        <div class="">
                                                            <div class="">
                                                                <img src="{{ asset('uploads/' ~ publication.photo) }}" width="900" height="900" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    </br></br>
                                                     <hr size="2" width="100%" color="black">
                                                      <form action="{{ path('commentaire_ajout',{'id': user.id,'id1': publication.id })}}" method="post">
                                                               <div class="control-group">
                                                                    <input class="control-group" type="text" id="basicinput" name="contenu" class="span2"/>
                                                                        <span><button class="btn btn-mini btn-inverse" class="control-group">
                                                                        Commenter
                                                                        </button></span>
                                                               </div> 
                                                      </form>
                                                      
                                                    <!--/.stream-headline-->
                                                    
                                                       
                                                        {% for p in publication.commentaires %}
                                                            
                                                          

                                                            <div class="media stream">
                                                                <a href="#" class="media-avatar small pull-left">
                                                                    <img src="{{ asset('uploads/' ~ p.userss.photo) }}">
                                                                </a>
                                                                <div class="media-body">
                                                                    <div class="stream-headline">
                                                                        <h5 class="stream-author">
                                                                            {{p.userss.nom}} 
                                                                            <small>{{p.createAt|date('d/m/Y ' ~ 'à' ~ ' H:i') }}</small>
                                                                        </h5>
                                                                        <div class="stream-text">
                                                                            {{p.contenu}}
                                                                        </div>
                                                                        
                                                                        <div class="stream-options">
                                                                            <a href="{{ path('publication_reponse',{'id': user.id,'id1': publication.id,'id2': p.id }) }}" class="btn btn-small">
                                                                            <i class="icon-reply shaded"></i>
                                                                                Repondre
                                                                            </a>
                                                                        </div>
                                                                        
                                                                        {% for r in p.reponses %}
                                                                            <a href="#" class="media-avatar small pull-left">
                                                                                <img src="{{ asset('uploads/' ~ r.reponseU.photo) }}">
                                                                            </a>
                                                                            <div class="media-body">
                                                                                <div class="stream-headline">
                                                                                    <h5 class="stream-author">
                                                                                        {{r.reponseU.nom}} 
                                                                                        <small>{{r.createAt|date('d/m/Y') }}</small>
                                                                                    </h5>
                                                                                    <div class="stream-text">
                                                                                        {{r.contenu}}
                                                                                    </div>
                                                                                    </br>
                                                                                    <a href="{{ path('publication_reponse',{'id': user.id,'id1': publication.id,'id2': r.id }) }}" class="btn btn-small">
                                                                                    <i class="icon-reply shaded"></i>
                                                                                        Repondre
                                                                                    </a>
                                                                                    </br>
                                                                                </div>
                                                                            </div>
                                                                        {% endfor %}
                                                                        
                                                                    </div><!--/.stream-headline-->
                                                                </div>
                                                            </div><!--/.media .stream-->
                                                        {% endfor %}
                                                </div>
                                            </div><!--/.media .stream-->
                                        

    
                                       
                                    </div><!--/.stream-list-->
                                </div><!--/.module-body-->
                            </div><!--/.module-->
                            
                        </div><!--/.content-->
                    </div>
                    <!--/.span9-->
                </div>
            </div>
            <!--/.container-->
        </div>
        <!--/.wrapper-->
        <div class="footer">
            <div class="container">
                <b class="copyright">&copy; 2021  </b>All rights reserved.
            </div>
        </div>
       <script src="{{asset('scripts/jquery-1.9.1.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('scripts/jquery-ui-1.10.1.custom.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('bootstrap/js/bootstrap.min.js')}}" type="text/javascript"></script>
        <script src="{{asset('scripts/flot/jquery.flot.js')}}" type="text/javascript"></script>
        <script src="{{asset('scripts/flot/jquery.flot.resize.js')}}" type="text/javascript"></script>
        <script src="{{asset('scripts/datatables/jquery.dataTables.js')}}" type="text/javascript"></script>
        <script src="{{asset('scripts/common.js')}}" type="text/javascript"></script>
        
      
    </body>
